<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="top.css" />
    <title>Bookers</title>
  </head>
  <body>
    <h1 class="heading">ようこそBookersへ!</h1>
    <p class="text">
        Bookersではさまざまな書籍に関するあなたの意見や<br>
        印象を共有し交換することができます
    </p>
    <p class="start"><a href="/books">start</a>
    </p>
  </body>
 
</html>